Hyt.BLL/Service References/CrossBorder/Express.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://wms.lc-shipping.com/WCF/Express.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WMS_Service.Model.Produce" />
  <xs:import schemaLocation="http://wms.lc-shipping.com/WCF/Express.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WMS_Service.Controllers.Express" />
  <xs:import schemaLocation="http://wms.lc-shipping.com/WCF/Express.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="SaveTrackingNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WMS_Service.Model.Produce" minOccurs="0" name="t" nillable="true" type="q1:T_Express_TrackingNo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTrackingNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveTrackingNoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryRoute">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WMS_Service.Model.Produce" minOccurs="0" name="qc" nillable="true" type="q2:T_Express" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryRouteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WMS_Service.Controllers.Express" minOccurs="0" name="QueryRouteResult" nillable="true" type="q3:RouteListClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExpressDel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExpressDelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExpressDelResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExpressDelByTrackingNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TrackingNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExpressDelByTrackingNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExpressDelByTrackingNoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExpressSaveOrUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WMS_Service.Model.Produce" minOccurs="0" name="e" nillable="true" type="q4:T_Express" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExpressSaveOrUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExpressSaveOrUpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateExpressStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WMS_Service.Model.Produce" minOccurs="0" name="e" nillable="true" type="q5:T_Express" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateExpressStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateExpressStatusResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateExpressCost">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WMS_Service.Model.Produce" minOccurs="0" name="e" nillable="true" type="q6:T_Express" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateExpressCostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateExpressCostResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrackingNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WMS_Service.Controllers.Express" minOccurs="0" name="uc" nillable="true" type="q7:UploadOrderClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrackingNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTrackingNoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExpressByID_List">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="idList" nillable="true" type="q8:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExpressByID_ListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WMS_Service.Model.Produce" minOccurs="0" name="GetExpressByID_ListResult" nillable="true" type="q9:ArrayOfT_Express" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExpressByTrackingNo_List">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="TrackingList" nillable="true" type="q10:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExpressByTrackingNo_ListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WMS_Service.Model.Produce" minOccurs="0" name="GetExpressByTrackingNo_ListResult" nillable="true" type="q11:ArrayOfT_Express" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExpressByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExpressByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WMS_Service.Model.Produce" minOccurs="0" name="GetExpressByIDResult" nillable="true" type="q12:T_Express" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExpressByTrackingNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Tracking" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExpressByTrackingNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WMS_Service.Model.Produce" minOccurs="0" name="GetExpressByTrackingNoResult" nillable="true" type="q13:T_Express" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExpressByOrderNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrderNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExpressByOrderNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WMS_Service.Model.Produce" minOccurs="0" name="GetExpressByOrderNoResult" nillable="true" type="q14:T_Express" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_YT_Branches">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_YT_BranchesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Get_YT_BranchesResult" nillable="true" type="q15:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_SF_CoName">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_SF_CoNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Get_SF_CoNameResult" nillable="true" type="q16:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddressInsertOrUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/WMS_Service.Model.Produce" minOccurs="0" name="a" nillable="true" type="q17:T_Address" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddressInsertOrUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddressInsertOrUpdateResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdressByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdressByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/WMS_Service.Model.Produce" minOccurs="0" name="GetAdressByIDResult" nillable="true" type="q18:T_Address" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddressDel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/WMS_Service.Model.Produce" minOccurs="0" name="a" nillable="true" type="q19:T_Address" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddressDelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddressDelResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>